version: '3.1'
services:
  db:
    image: mysql
    volumes:
      - /data:/var/lib/mysql
      - ./config/my.cnf:/etc/mysql/mysql.conf.d/mysqld.cnf
    restart: always
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: 123456 #访问密码
      secure_file_priv:
  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - 8181:80
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
